*{
    box-sizing: border-box;
}

*:focus {
    outline:none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

a:focus,
button:focus,
input:focus,
input:active,
textarea:focus,
.form-control:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

input:focus,
input:active {
    border: 1px solid rgb(133,88,192) !important;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    background: rgb(246, 247, 251, 0.4);
}


/* Navbar Starts Here */

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2px 20px;
    background: #FFFFFF;
    box-shadow: 0px 2px 7px rgba(79, 79, 79, 0.07);
}

.navbar .logo{
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar .logo img{
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

.navbar .logo p{
    margin: 0;
    padding-top: 6px;
    font-size: 1em;
}

.navbar .mr-right{
    margin-right: -14px;
}

.navbar .mr-right li{
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 0px;
}

.navbar .mr-right .nav-item.dropdown .username {
    color: #4B575C;
    font-weight: 400;
}

.navbar .mr-right .nav-item.dropdown img {
    width: 36px;
    margin-top: 0px;
    margin-right: 5px;
}

.navbar .mr-right .nav-item.dropdown i {
    font-size: 0.8em;
    margin-left: 8px;
    color: #CCCFD4;
}

.nav-item.dropdown .dropdown-menu {
    padding: 0;
}

.nav-item.dropdown .dropdown-menu .dropdown-item {
    padding: 8px 15px;
    padding-bottom: 10px;
}

.nav-item.dropdown .dropdown-menu .dropdown-item:focus {
    background: transparent;
    color: #6CB525;
}


/* Main Page Starts Here */

/* Overlay */
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.55); /* Black background with opacity */
    z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}


/*Side Menu Starts Here*/

.sidenav::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(197, 197, 197, 0.8);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(197, 197, 197, 0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(197, 197, 197, 0.8); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(197, 197, 197, 0.8); 
}

.sidenav {
    height: 100%;
    width: 250px;
    padding: 0;
    margin: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background: #FFFFFF;
    border-right: 1px solid #eee;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 10px;
    margin: 0;
    padding: 0;
    font-size: 36px;
    display: none;
}

.open-sidenav{
    display: none;
}

.sidenav-links{
    margin: 0;
    margin-top: 40px;
    padding: 10px;
    margin-bottom: 20px;
}

.sidenav-link{
    margin: 15px 0px;
    font-size: 1em;
    letter-spacing: 0.025em;
}

.sidenav-link.first {
    margin-top: 40px;
}

.sidenav-link button{
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.025em;
}

.sidenav-link a, .sidenav-link p{
    color: #333;
}

.sidenav-link a:hover{
    color: rgb(133,88,192);
}

.sidenav-link a.active{
    color: rgb(133,88,192);
    font-weight: bold;
}

.sidenav-link .link{
    padding: 12px !important;
    padding-top: 13px !important;
    font-weight: 400 !important;
    width: 100%;
    text-align: left;
    border-radius: 3px;
    color: #333;
}

.sidenav-link img {
    width: 23px;
    margin-right: 10px;
    margin-top: -3px;
}

.sidenav-link .link:hover{
    background: rgba(133, 88, 192, 0.2);
    text-decoration: none;
}
.sidenav-link .link:focus{
    text-decoration: none;
}

.sidenav-link .link.active{
    background: rgba(133, 88, 192, 0.2);
    font-weight: bold !important;
    color: #000;
}

.sidenav-link .title i{
    float: right !important;
    font-size: 1.5em !important;
    color: #555;
    margin-top: -2px !important;
}

#accordion .chevron:after{
    position: absolute;
    display: inline-block;
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    height: 0.6em;
    width: 0.6em;
    right: 36px;
    color: #666;
    margin-top: 10px;
    transform: rotate(315deg);
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    cursor: pointer;
}
#accordion .chevron.collapsed:after{
    margin-top: 5px;
    transform: rotate(135deg);
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.sidenav-link .card-body{
    padding: 12px;
    margin-left: 10px;
}

.sidenav-link .card-body .card-body-link{
    margin-bottom: 25px;
}


/*Side Menu Ends Here*/


/*Main Page Starts Here*/

.main{
    margin: 0;
    margin-left: 250px; /* Same as the width of the sidenav */
    padding: 0px;
}

.main-page-content{
    padding: 85px 20px;
    padding-bottom: 50px;
}

.orders-text{
    font-size: 2em;
    letter-spacing: 0.02em;
    font-weight: bold;
    margin-bottom: 40px;
    color: #4B575C;
}

.info-text {
    font-size: 1.05em;
    letter-spacing: 0.02em;
    margin-bottom: 60px;
}

.table-responsive::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

.table-responsive input{
    font-size: 1.04em;
    padding: 1em .5rem;
}

.table-responsive .table{
    background: #fff;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 2px 7px rgba(79, 79, 79, 0.07);
}

.table-responsive .table thead tr{
    background: #e1e1e1;
}

.table-responsive .table thead tr th{
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
}

.table-responsive .table tbody tr:nth-child(even){
    background: #f9f9f9;
}

.table-responsive .table tbody tr td{
    padding-top: 18px;
    padding-bottom: 18px;
}


/*Main Page Ends Here*/




/*Responsive Page Starts Here*/

@media screen and (min-width: 1790px){
    .main-page-content{
        margin: 20px;
        width: 1500px;
    }
}

@media screen and (max-width: 1160px){
    .table{
        width: 870px;
    }
}

@media screen and (max-width: 795px){

    .navbar {
        z-index: 1;
    }
    
    .navbar-toggler{
        display: none;
    }
    
    .navbar .logo{
        display: flex;
        margin-left: 40px;
    }

    .navbar .logo img{
        width: 35px;
        height: 35px;
        margin-top: 1px;
        margin-right: 5px;
    }

    .navbar .logo p {
        margin-top: -4px;
    }

    .navbar .navbar-collapse .mr-right{
        display: block;
        float: right;
    }

    .navbar .mr-right li{
        margin-top: 0px;
    }

    .navbar .mr-right li.responsive-nav-link{
        display: none;
    }

    .navbar .mr-right li .dropdown-menu {
        position: absolute;
    }

    .sidenav{
        width: 0px;
        padding-top: 55px;
        z-index: 5;
    }
    
    /* Position and style the close button (top right corner) */
    .sidenav .closebtn{
        display: block;
        padding: 0px;
        margin-top: 20px;
        color: #333;
    }

    .open-sidenav{
        display: block;
        position: absolute;
        top: 0px;
        z-index: 10000;
        padding: 0px;
        margin-left: 13px;
    }

    .open-sidenav img {
        position: fixed;
        width: 30px;
        top: 0px;
        margin-top: 11.5px;
        transform: rotate(180deg);
    }

    .sidenav-link.first {
        margin-top: -30px;
    }
    
    .main{
        margin-left: 0px;
        width: 100%;
    }

    .main .main-page-content{
        margin-top: 0px;
    }
}

@media screen and (max-width: 767px){
    .navbar .logo img{
        margin-top: 8px;
    }

    .navbar .logo p {
        margin-top: 5px;
    }

    .navbar .mr-right li{
        margin-top: -43px;
    }
}

@media screen and (max-width: 399px){
    .navbar{
        margin-right: -5px;
    }

    .logo p{
        display: none;
    }

    .main .main-page-content{
        margin: 0px;
        padding: 80px 10px;
        margin-top: 0px;
    } 
}


/* Responsive Page Ends Here*/