*{
    box-sizing: border-box;
}

*:focus {
    outline:none !important;
}

a {
    color: #9A6BF2;
    padding-bottom: 1px;
    border-bottom: 1px solid #9A6BF2;
}
a:hover {
    color: #E173E9;
    text-decoration: none;
    border-bottom: 1px solid #E173E9;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    letter-spacing: 0.02em;
}

/*Section 1 Starts Here*/
.main{
    margin: 0 auto;
    padding: 20px 10px;
    background: rgb(225, 115, 233, 0.05);
    width: 600px;
}

.main .logo {
    text-align: center;
    margin-top: -5px;
    margin-bottom: 18px;
}

.main .logo img {
    width: 45px;
}

.main .email-content{
    position: relative;
    background: url('images/email-back-img.png') no-repeat center center fixed;
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    border-radius: 5px;
    margin: 0;
    padding: 0;
}

.email-content .main-content {
    padding: 15px;
    padding-bottom: 0px;
}

h2 {
    font-size: 1.8em;
    line-height: 28px;
    padding: 0px 10px;
    margin: 0;
    margin-top: 20px;
    text-align: center;
}

.hey-hr {
    margin-top: 15px;
    margin-bottom: 0px;
    width: 70px;
    height: 4px;
    background: #E173E9;
}

h4 {
    font-size: 1.05em;
    line-height: 32px;
    padding: 0px 10px;
    margin: 0;
    margin-top: 20px;
    text-align: center;
}

.top-hr {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 7px;
    background: #fafafa;
    border: none;
}


.info-div {
    background: rgba(255, 255, 255, 0.5);
    padding: 15px;
    margin-top: 45px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.info-div .event-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center center;
    border-radius: 5px 5px 0px 0px;
    border: 2px solid #eee;
}

.info-div .event-name {
    margin: 0;
    margin-top: 8px;
    font-size: 1.25em;
    font-weight: bold;
}

.info-div .flex-info {
    display: flex;
    margin: 0;
    margin-top: 18px;
}

.flex-info i {
    font-size: 1em;
    color: #666;
    margin-right: 7px;
}

.flex-info p {
    margin: 0;
    margin-top: -4px;
}

.info-div .organizer {
    margin-top: 16px;
}

.info-div .view {
    text-align: center;
    margin: 0;
    margin-top: 20px;
}

.info-div .view.last {
    margin-top: 25px;
    padding-bottom: 10px;
}


.get-started {
    margin: 0;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.get-started-btn {
    padding: 12px 60px;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    text-transform: capitalize;
    border-radius: 5px;
    border: none;
    background: linear-gradient(115.29deg, #9A6BF2 22.36%, #E173E9 90.45%);
    cursor: pointer;
}
.get-started-btn:hover {
    background: linear-gradient(115.29deg, #E173E9 22.36%, #9A6BF2 90.45%);
    color: #fff;
    text-decoration: none;
}

.if-you-have {
    font-size: 0.85em;
    padding: 0px 10px;
    color: #555;
    margin: 0;
    margin-top: 80px;
}

.cheers {
    font-weight: bold;
    padding: 0px 10px;
    margin: 0;
    margin-top: 20px;
    padding-bottom: 40px;
}


.main .footer{
    margin-top: 10px;
    padding: 20px 0px;
    padding-bottom: 0px;
    background: #FDF8FE;
    text-align: center;
}

.main .footer .icons{
    margin-bottom: 15px;
}

.main .footer .icons a{
    margin-right: 20px;
    border: none;
}
.main .footer .icons a.last-link{
    margin-right: 0px;
}

.main .footer .icons a img {
    width: 18px;
    height: 18px;
}

.main .footer .copyright, .address{
    background: none;
    font-size: 0.75em;
    margin-bottom: 10px;
}
.main .footer .address{
    margin-bottom: 0px;
}



/* Responsive Starts Here */

@media screen and (max-width: 600px){
    .main{
        width: 99%;
    }
}

@media screen and (max-width: 400px){
    .email-content .main-content {
        padding: 15px 0px;
        padding-bottom: 0px;
    }

    .info-div .event-img {
        width: 100%;
        height: 200px;
    }
}

@media screen and (max-width: 350px){

    .info-div {
        padding: 15px 10px;
    }

    .info-div .event-img {
        width: 100%;
        height: 150px;
    }
}