*{
    box-sizing: border-box;
}

*:focus {
    outline:none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

a:focus,
button:focus,
input:focus,
input:active,
textarea:focus,
select:focus,
.form-control:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

select:focus {
    border: 1px solid #ddd !important;
}

input:focus, textarea:focus {
    border: 1px solid #9A6BF2 !important;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.05em;
    letter-spacing: 0.02em;
    color: #333;
    background: url('../images/cs-background-img.png') no-repeat center center fixed;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* Navbar Starts Here */

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 3px 50px;
    padding-bottom: 3px;
    background: #FFFFFF;
    box-shadow: 0px 2px 7px rgba(79, 79, 79, 0.03);
}

.navbar .logo{
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar .logo{
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar .logo img{
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

.navbar .logo p{
    margin: 0;
    padding-top: 2px;
    font-size: 1.15em;
}

.navbar .mr-auto {
    width: 30%;
    margin-left: 70px;
}

.navbar .mr-auto .input-group input {
    font-family: 'Lato', sans-serif;
    font-size: 0.95em;
    padding-bottom: 7px;
    border: 1px solid #f1f1f1;
    border-radius: 20px 0px 0px 20px;
}

.navbar .mr-auto .input-group-prepend {
    padding: 0px;
    cursor: pointer;
    background: #fefefe;
    border: none;
    border-radius: 0px 20px 20px 0px;
}

.navbar .mr-auto .input-group-prepend span {
    padding: 0 10px;
    padding-right: 12px;
    background: #fdfdfd;
    border: 1px solid #f1f1f1;
    border-radius: 0px 20px 20px 0px;
    border-left: none;
}

.input-group-prepend span i {
    font-size: 1em;
    color: #999;
}

.navbar .mr-right{
    margin-right: 0px;
    margin-top: -2px;
    margin-bottom: -1px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
}

.navbar .mr-right li{
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 17px;
}

.navbar .mr-right li .links {
    color: #333;
    font-size: 1em;
}

.navbar .mr-right li.login {
    margin-bottom: 15px;
}

.navbar .mr-right li .links.log-in {
    padding: 10px 25px;
    color: #fff;
    border-radius: 3px;
    background: linear-gradient(115.29deg, #9A6BF2 22.36%, #E173E9 90.45%);
}

.navbar .mr-right li .links:hover{
    color: #9A6BF2;
    transition: all .1s ease-in-out;
    text-decoration: none;
}
.navbar .mr-right li .links.log-in:hover {
    background: linear-gradient(115.29deg, #E173E9 22.36%, #9A6BF2 90.45%);
    color: #fff;
}

.navbar .mr-right .nav-item.dropdown .help {
    color: #4B575C;
    font-size: 1.05em;
    font-weight: 400;
    margin: 0;
    margin-top: -8px;
}
.navbar .mr-right .nav-item.dropdown .help:hover {
    color: #9A6BF2;
    transition: all .1s ease-in-out;
}

.navbar .mr-right .nav-item.dropdown i {
    font-size: 0.8em;
    margin-left: 8px;
    color: #CCCFD4;
}

.navbar .mr-right .nav-item.dropdown.user {
    margin-right: 0px;
    margin-top: 15px;
}

.navbar .mr-right .nav-item.dropdown .username {
    color: #4B575C;
    font-size: 1em;
    font-weight: 400;
    margin: 0;
    margin-top: -10px;
}
.navbar .mr-right .nav-item.dropdown .username:hover {
    color: #9A6BF2;
    transition: all .1s ease-in-out;
}

.navbar .mr-right .nav-item.dropdown img {
    width: 36px;
    margin-top: -2px;
    margin-right: 5px;
}

.nav-item.dropdown .dropdown-menu {
    padding: 0;
}

.nav-item.dropdown .dropdown-menu hr {
    margin-top: 20px;
    margin-bottom: 0px;
}

.nav-item.dropdown .dropdown-menu .dropdown-item {
    font-size: 0.9em;
    padding: 6px 15px;
    padding-bottom: 7px;
}

.nav-item.dropdown .dropdown-menu .dropdown-item:focus {
    background: #fff !important;
    color: #9A6BF2 !important;
}


/*Main Page Starts Here*/

.main{
    margin: 0px;
    padding: 0px;
}

.main-page-content{
    padding: 50px 50px;
    padding-bottom: 0;
}

.filter-row {
    margin-top: 50px;
    margin-bottom: 30px;
}

.filter-row h4 {
    font-size: 1.09em;
    font-weight: bold;
    color: #4B575C;
    margin-bottom: 15px;
}

.filter-row .filters {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
}

.filtered-row {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    margin-bottom: 40px;
}

.filtered-row .alert {
    padding: 3px 10px;
    padding-bottom: 4px;
    padding-right: 0px;
    border-radius: 20px;
    background: #666;
    color: #fff;
    font-size: 0.9em;
}

.filtered-row .alert .close {
    margin-top: -1px;
    margin-right: -1px;
    font-size: 1em;
    padding: 8px;
    padding-top: 7px;
    padding-bottom: 9px;
    border-radius: 0px 20px 20px 0px;
}


.showing-text{
    font-size: 1.55em;
    font-weight: bold;
    margin-bottom: 40px;
    color: #4B575C;
}

.showing-text span.figure {
    color: #9A6BF2;
}

.events-row {
    padding: 0;
    margin: 0;
}

.events-row .event {
    position: relative;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-column-gap: 15px;
    border-radius: 5px;
    margin-bottom: 40px;
    width: 80%;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 5px rgba(79, 79, 79, 0.01);
    transition: .2s ease-in-out;
}

.events-row .event:hover {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.15);
}

.event img {
    height: 100%;
    width: 250px;
    object-fit: cover;
    object-position: center center;
    border-right: 1px solid #ddd;
    border-radius: 5px 0px 0px 5px;
}

.event .price {
    position: absolute;
    background: #fff;
    padding: 3px 8px;
    font-size: 0.95em;
    font-weight: bold;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-radius: 4px 0px 3px 0px;
}

.event .details {
    padding: 5px 0px;
    padding-bottom: 8px;
    padding-right: 15px;
    margin: 0;
}

.details .name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.details .name a {
    color: #333;
}
.details .name a:hover {
    color: #9A6BF2;
    text-decoration: none;
}

.details .organizer-name {
    font-size: 0.9em;
    color: #6c6c6c;
    margin-bottom: 10px;
}

.details .date {
    font-size: 0.9em;
    color: #000;
    margin-bottom: 10px;
}

.details .venue {
    font-size: 0.9em;
    color: #000;
    margin-bottom: 0px;
}

.details .date i, .details .venue i {
    font-size: 0.85em;
    color: #666;
    margin-right: 7px;
}

.details .foot-row {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #eee;
}

.foot-row .tags-row .tag-item {
    margin: 0;
    padding: 0;
    color: #666;
    font-size: 0.87em;
    padding-bottom: 3px;
    border-bottom: 1px solid #666;
    margin-right: 15px;
}

.foot-row .tags-row .tag-item:hover{
    text-decoration: none;
    color: #9A6BF2;
    border-bottom: 1px solid rgba(133,88,192,1);
}

.foot-row .share-div {
    text-align: right;
    margin-top: 5px;
    margin-bottom: -5px;
}

.share-div a {
    margin-right: 30px;
    color: #666;
}
.share-div a.last {
    margin-right: 0px;
}

.share-div a i {
    font-size: 1.3em;
}
.share-div a i.bookmarked {
    color: #9A6BF2;
}

.pagination {
    margin-top: 60px;
    background: #fff;
    padding: 5px 10px;
    width: fit-content;
    border: #fff !important;
    box-shadow: 0px 2px 2px rgba(79, 79, 79, 0.09);
}

.pagination li.active a {
    background: #9A6BF2 !important;
}

.pagination li a {
    color: #9A6BF2;
    border: 1px solid #f5f5f5 !important;
}




/* Footer Starts Here */

footer{
    margin: 0;
    margin-top: 130px;
    padding: 0 50px;
    padding-top: 30px;
    padding-bottom: 20px;
    background: #555;
    color: #fff;
}

footer .row, footer .col-md-6, footer .columns{
    padding: 0;
    margin: 0;
}

footer .columns-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

footer .col-md-6 .newsletter-header{
    font-size: 1.25em;
    letter-spacing: 0.02em;
    font-weight: bold;
    margin-bottom: 8px;
}

footer .footer-right-column{
    position: absolute;
    right: 0px;
    width: 70%;
}

footer .footer-right-column input{
    font-family: 'Lato', sans-serif;
    padding: 18px 10px;
    padding-bottom: 18px;
    border-radius: 3px 0px 0px 3px;
    border: 1px solid #bbbbbb;
    border-right: none;
}

.footer-right-column .subscribe-btn {
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 1em;
    text-transform: capitalize;
    border: none;
    background: linear-gradient(115.29deg, #9A6BF2 22.36%, #E173E9 90.45%);
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
}
.footer-right-column .subscribe-btn:hover {
    background: linear-gradient(115.29deg, #E173E9 22.36%, #9A6BF2 90.45%);
}

footer hr{
    margin: 10px 0px;
    margin-bottom: 20px;
}

footer .columns .footer-link-header-text{
    font-size: 1.05em;
    letter-spacing: 0.02em;
    margin-bottom: 15px;
}

footer .columns .footer-links p {
    margin-bottom: 12px;
}

footer .columns .footer-links .link{
    color: #dadada;
    font-size: 0.95em;
    letter-spacing: 0.02em;
}

footer .columns .footer-links .link:hover{
    color: #fafafa;
}

footer .columns .links-icon-row{
    display: flex;
}

footer .columns .links-icon-row .link{
    font-size: 1.9em;
    margin-right: 25px;
    color: #dadada;
}

footer .columns .links-icon-row .link i.twitter:hover{
    color: #55ACEE;
}
footer .columns .links-icon-row .link i.instagram:hover{
    color: #125688;
}
footer .columns .links-icon-row .link i.facebook:hover{
    color: #3B5998;
}
footer .columns .links-icon-row .link i.youtube:hover{
    color: #bb0000;
}

footer .footer-nav{
    display: flex;
    position: relative;
}

footer .footer-nav .copyright-text{
    margin: 0;
    font-size: 0.9em;
    letter-spacing: 0.02em;
}

footer .footer-nav .right-navs{
    position: absolute;
    right: 0;
}

footer .footer-nav .right-navs .right-nav-link{
    margin-right: 40px;
    color: #dadada;
    font-size: 0.9em;
    letter-spacing: 0.02em;
}

footer .footer-nav .right-navs .right-nav-link:hover{
    color: #fafafa;
}

footer .footer-nav .right-navs .right-nav-link-end{
    margin-right: 0px;
}

/* Footer Ends Here */



/*Responsive Page Starts Here*/

@media screen and (min-width: 1501px){
    .main{
        width: 1500px;
    }
}

@media screen and (max-width: 1250px){
    .events-row .event {
        width: 80%;
    }
}

@media screen and (max-width: 1150px){
    .events-row .event {
        width: 90%;
    }
}

@media screen and (max-width: 1050px){
    .navbar{
        padding: 7px 40px;
    }

    .navbar .mr-auto {
        margin-left: 40px;
    }

    .navbar .mr-right .nav-item.dropdown.help {
        margin-right: 0px;
    }

    .main .main-page-content{
        padding-left: 40px;
        padding-right: 40px;
    }

    .filtered-row {
        display: grid;
        grid-template-columns: repeat(6, auto);
    }

    .events-row .event {
        width: 100%;
    }

    footer{
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 991px){
    .navbar{
        padding: 7px 30px;
    }

    .navbar .mr-auto {
        margin-left: 0px;
        margin-top: 20px;
        width: 50%;
    }

    .main .main-page-content{
        padding-left: 30px;
        padding-right: 30px;
    }

    .filter-row .filters {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 20px;
    }

    footer{
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 890px){
    footer .footer-right-column{
        width: 90%;
    }
}

@media screen and (max-width: 767px){
    .navbar{
        padding: 7px 20px;
        z-index: 7;
    }

    .navbar .mr-right{
        margin-top: 5px;
        margin-bottom: -15px;
    }

    .navbar .mr-right li{
        margin-bottom: 10px;
    }

    .main .main-page-content{
        padding-left: 20px;
        padding-right: 20px;
    }

    footer{
        padding-left: 20px;
        padding-right: 20px;
    }
    
    footer .footer-right-column{
        position: relative;
        margin-top: 20px;
    }
}

@media screen and (max-width: 700px){
    footer .footer-nav .footer-link-remove{
        display: none;
    }
}

@media screen and (max-width: 670px){
    .filtered-row {
        display: grid;
        grid-template-columns: repeat(4, auto);
    }

    .events-row .event {
        grid-template-columns: 200px 1fr;
    }

    .event img {
        width: 200px;
    }
}

@media screen and (max-width: 600px){
    .navbar{
        padding: 7px 10px;
    }

    .main .main-page-content{
        padding-left: 10px;
        padding-right: 10px;
    }

    footer{
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 560px){
    .events-row .event {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px;
        margin-bottom: 40px;
        width: 80%;
    }

    .event img {
        height: 200px;
        width: 100%;
        border-bottom: 1px solid #ddd;
        border-radius: 5px 5px 0px 0px;
    }

    .event .details {
        padding: 5px 15px;
        padding-bottom: 10px;
        margin: 0;
    }
}

@media screen and (max-width: 540px){
    .navbar .mr-auto {
        width: 90%;
    }

    footer .columns-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
    }
}

@media screen and (max-width: 500px){
    .filtered-row {
        display: grid;
        grid-template-columns: repeat(3, auto);
    }

    .events-row .event {
        width: 100%;
    }
}

@media screen and (max-width: 450px){
    .filter-row .filters {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
}

@media screen and (max-width: 400px){
    .navbar{
        padding: 6px 10px;
    }

    .main-page-content{
        padding: 30px 10px;
        padding-bottom: 50px;
    }

    footer{
        padding: 25px 10px;
    }
}

@media screen and (max-width: 378px){
    .filtered-row {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }

    .showing-text{
        font-size: 1.3em;
    }

    .event img {
        height: 150px;
    }

    .event .details {
        padding: 5px 10px;
        padding-bottom: 10px;
    }

    footer .footer-nav .copyright-text{
        font-size: 0.8em;
    }

    footer .footer-nav .right-navs {
        margin-top: -3.5px;
    }

    footer .footer-nav .right-navs .right-nav-link{
        margin-right: 10px;
    }
}

@media screen and (max-width: 320px){
    footer .footer-right-column{
        width: 100%;
    }

    footer .columns-row {
        grid-template-columns: repeat(1, 1fr);
    }
}