*{
    box-sizing: border-box;
}

*:focus {
    outline:none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

a:focus,
button:focus,
input:focus,
input:active,
textarea:focus,
select:focus,
.form-control:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

a:focus {
    background: #fff !important;
    color: rgb(133,88,192) !important;
}

select:focus {
    border: 1px solid #ddd !important;
}

input:focus, textarea:focus {
    border: 0.5px solid rgb(133,88,192) !important;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    letter-spacing: 0.02em;
    background: url('../images/cs-background-img.png') no-repeat center center fixed;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* Navbar Starts Here */

.navbar{
    width: 100%;
    padding: 3px 50px;
    padding-bottom: 3px;
    background: #FFFFFF;
    box-shadow: 0px 2px 7px rgba(79, 79, 79, 0.03);
}

.navbar .logo{
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar .logo{
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar .logo img{
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

.navbar .logo p{
    margin: 0;
    padding-top: 2px;
    font-size: 1em;
}

.navbar .mr-auto {
    width: 30%;
    margin-left: 70px;
}

.navbar .mr-auto .input-group input {
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    padding-bottom: 7px;
    border: 1px solid #f1f1f1;
    border-radius: 20px 0px 0px 20px;
}

.navbar .mr-auto .input-group-prepend {
    padding: 0px;
    cursor: pointer;
    background: #fefefe;
    border: none;
    border-radius: 0px 20px 20px 0px;
}

.navbar .mr-auto .input-group-prepend span {
    padding: 0 10px;
    padding-right: 12px;
    background: #fdfdfd;
    border: 1px solid #f1f1f1;
    border-radius: 0px 20px 20px 0px;
    border-left: none;
}

.input-group-prepend span i {
    font-size: 1em;
    color: #999;
}

.navbar .mr-right{
    margin-right: 0px;
    margin-top: -2px;
    margin-bottom: 0px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
}

.navbar .mr-right li{
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 15px;
}

.navbar .mr-right li .links {
    color: #333;
    font-size: 0.94em;
}

.navbar .mr-right li.login {
    margin-bottom: 14px;
}

.navbar .mr-right li .links.log-in {
    padding: 10px 25px;
    color: #fff;
    border-radius: 3px;
    background: linear-gradient(115.29deg, #9A6BF2 22.36%, #E173E9 90.45%);
}

.navbar .mr-right li .links:hover{
    color: #9A6BF2;
    transition: all .1s ease-in-out;
    text-decoration: none;
}
.navbar .mr-right li .links.log-in:hover {
    background: linear-gradient(115.29deg, #E173E9 22.36%, #9A6BF2 90.45%);
    color: #fff;
}

.navbar .mr-right .nav-item.dropdown .help {
    color: #4B575C;
    font-size: 0.94em;
    font-weight: 400;
    margin: 0;
    margin-top: -7px;
}
.navbar .mr-right .nav-item.dropdown .help:hover {
    color: #9A6BF2;
    transition: all .1s ease-in-out;
}

.navbar .mr-right .nav-item.dropdown i {
    font-size: 0.8em;
    margin-left: 8px;
    color: #CCCFD4;
}

.navbar .mr-right .nav-item.dropdown.user {
    margin-right: 0px;
}

.navbar .mr-right .nav-item.dropdown .username {
    color: #4B575C;
    font-size: 0.94em;
    font-weight: 400;
    margin: 0;
    margin-top: -10px;
}
.navbar .mr-right .nav-item.dropdown .username:hover {
    color: #9A6BF2;
    transition: all .1s ease-in-out;
}

.navbar .mr-right .nav-item.dropdown img {
    width: 36px;
    margin-top: -2px;
    margin-right: 5px;
}

.nav-item.dropdown .dropdown-menu {
    padding: 0;
}

.nav-item.dropdown .dropdown-menu hr {
    margin-top: 20px;
    margin-bottom: 0px;
}

.nav-item.dropdown .dropdown-menu .dropdown-item {
    font-size: 0.9em;
    padding: 6px 15px;
    padding-bottom: 7px;
}

.nav-item.dropdown .dropdown-menu .dropdown-item:focus {
    background: #fff !important;
    color: #9A6BF2 !important;
}

.open-nav{
    display: none;
}


/* Main Page Starts Here */

.main{
    margin: 0;
    padding: 0;
}

.main-page-content{
    padding: 0px;
}

.main-page-content p{
    font-size: 1.2em;
    letter-spacing: 0.02em;
    margin-bottom: 25px;
    color: #2F2F2F;
}

.sub-nav {
    background: #7f60bc;
    color: #eee !important;
    padding: 5px 50px;
    margin: 0 !important;
    text-align: center;
}
.sub-nav span {
    color: #FFF !important;
    font-weight: bold;
}

.section {
    padding: 40px 50px;
    margin: 0;
}

.section-1 {
    font-size: 2.4em;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background: url(../images/slider-3-450x600.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.section-b {
    font-size: 2.0em;
}

.section-1 span {
    font-size: 0.65em;
}

.video-player {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    background: #ccc;
    height: 450px;
    border-radius: 5px;
}

h1 {
    font-size: 2.7em;
    font-weight: bold;
    text-align: center;
    color: #7f60bc;
}
.section h2 {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}
h3 {
    font-size: 1.7em;
    font-weight: bold;
    text-align: center;
}

.section-3 {
    width: 75%;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px;
}

.underline {
    text-decoration: underline;
}

.tip {
    font-size: 1em !important;
    color: #777 !important;
    text-align: center;
    font-style: italic;
    margin: 0;
    margin-top: -40px;
    margin-bottom: 30px !important;
}



/* Footer Starts Here */

footer{
    margin: 0;
    margin-top: 130px;
    padding: 0 50px;
    padding-top: 30px;
    padding-bottom: 20px;
    background: #555;
    color: #fff;
}

footer .row, footer .col-md-6, footer .columns{
    padding: 0;
    margin: 0;
}

footer .columns-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

footer .col-md-6 .newsletter-header{
    font-size: 1.2em;
    letter-spacing: 0.02em;
    font-weight: bold;
    margin-bottom: 8px;
}

footer .footer-right-column{
    position: absolute;
    right: 0px;
    width: 70%;
}

footer .footer-right-column input{
    font-family: 'Lato', sans-serif;
    padding: 12px 10px;
    padding-bottom: 13px;
    border-radius: 3px 0px 0px 3px;
    border: 1px solid #bbbbbb;
    border-right: none;
}

.footer-right-column .subscribe-btn {
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 1em;
    text-transform: capitalize;
    border: none;
    background: linear-gradient(115.29deg, #9A6BF2 22.36%, #E173E9 90.45%);
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
}
.footer-right-column .subscribe-btn:hover {
    background: linear-gradient(115.29deg, #E173E9 22.36%, #9A6BF2 90.45%);
}

footer hr{
    margin: 10px 0px;
    margin-bottom: 20px;
}

footer .columns .footer-link-header-text{
    font-size: 1em;
    letter-spacing: 0.02em;
    margin-bottom: 15px;
}

footer .columns .footer-links p {
    margin-bottom: 12px;
}

footer .columns .footer-links .link{
    color: #dadada;
    font-size: 0.9em;
    letter-spacing: 0.02em;
}

footer .columns .footer-links .link:hover{
    color: #fafafa;
}

footer .columns .links-icon-row{
    display: flex;
}

footer .columns .links-icon-row .link{
    font-size: 1.9em;
    margin-right: 25px;
    color: #dadada;
}

footer .columns .links-icon-row .link i.twitter:hover{
    color: #55ACEE;
}
footer .columns .links-icon-row .link i.instagram:hover{
    color: #125688;
}
footer .columns .links-icon-row .link i.facebook:hover{
    color: #3B5998;
}
footer .columns .links-icon-row .link i.youtube:hover{
    color: #bb0000;
}

footer .footer-nav{
    display: flex;
    position: relative;
}

footer .footer-nav .copyright-text{
    margin: 0;
    font-size: 0.9em;
    letter-spacing: 0.02em;
}

footer .footer-nav .right-navs{
    position: absolute;
    right: 0;
}

footer .footer-nav .right-navs .right-nav-link{
    margin-right: 40px;
    color: #dadada;
    font-size: 0.9em;
    letter-spacing: 0.02em;
}

footer .footer-nav .right-navs .right-nav-link:hover{
    color: #fafafa;
}

footer .footer-nav .right-navs .right-nav-link-end{
    margin-right: 0px;
}

/* Footer Ends Here */



/*Responsive Page Starts Here*/

@media screen and (min-width: 1501px){
    .main{
        width: 1500px;
    }
}

@media screen and (max-width: 1120px){
    .form-row .form-group {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
    }

    .form-group .none {
        display: none;
    }
}

@media screen and (max-width: 1050px){
    .navbar{
        padding: 7px 40px;
    }

    .navbar .mr-auto {
        margin-left: 40px;
    }

    .navbar .mr-right .nav-item.dropdown.help {
        margin-right: 0px;
    }

    .main .main-page-content{
        padding-left: 40px;
        padding-right: 40px;
    }

    footer{
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 991px){
    .navbar{
        padding: 7px 30px;
    }

    .navbar .mr-auto {
        margin-left: 0px;
        margin-top: 20px;
        width: 50%;
    }

    .open-nav{
        display: block;
        position: relative;
        width: 30px;
        margin-left: 10px;
        transform: rotate(180deg);
    }

    .main .main-page-content{
        padding-left: 30px;
        padding-right: 30px;
    }

    footer{
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 890px){
    footer .footer-right-column{
        width: 90%;
    }
}

@media screen and (max-width: 767px){
    .navbar{
        padding: 7px 20px;
        z-index: 7;
    }

    .navbar .mr-right{
        margin-top: 5px;
        margin-bottom: -15px;
    }

    .navbar .mr-right li{
        margin-bottom: 10px;
    }

    .main .main-page-content{
        padding-left: 20px;
        padding-right: 20px;
    }

    .deactivate-div {
        width: 90%;
    }

    footer{
        padding-left: 20px;
        padding-right: 20px;
    }
    
    footer .footer-right-column{
        position: relative;
        margin-top: 20px;
    }
}

@media screen and (max-width: 700px){
    footer .footer-nav .footer-link-remove{
        display: none;
    }
}

@media screen and (max-width: 600px){
    .navbar{
        padding: 7px 10px;
    }

    .main .main-page-content{
        padding-left: 10px;
        padding-right: 10px;
    }

    form .form-box {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }

    .form-box .form-row.social {
        grid-row: 2;
        margin-bottom: 25px;
    }

    footer{
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 540px){
    .navbar .mr-auto {
        width: 90%;
    }

    footer .columns-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
    }
}

@media screen and (max-width: 400px){
    .navbar{
        padding: 6px 10px;
    }

    .main-page-content{
        padding: 30px 10px;
        padding-bottom: 50px;
    }

    .deactivate-div {
        width: 95%;
    }

    footer{
        padding: 25px 10px;
    }
}

@media screen and (max-width: 378px){
    footer .footer-nav .copyright-text{
        font-size: 0.8em;
    }

    footer .footer-nav .right-navs {
        margin-top: -3.5px;
    }

    footer .footer-nav .right-navs .right-nav-link{
        margin-right: 10px;
    }
}

@media screen and (max-width: 320px){
    footer .footer-right-column{
        width: 100%;
    }

    footer .columns-row {
        grid-template-columns: repeat(1, 1fr);
    }
}