*{
    box-sizing: border-box;
}

*:focus {
    outline:none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

a:focus,
button:focus,
input:focus,
input:active,
textarea:focus,
select:focus,
.form-control:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

a:focus {
    background: none !important;
}

select:focus {
    border: 1px solid #ddd !important;
}

input:focus, textarea:focus {
    border: 1px solid #9A6BF2 !important;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    letter-spacing: 0.02em;
    background: url('../images/cs-background-img.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main {
    position: relative;
    padding: 0;
    margin: 0;
}

.main .bd-example {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
}

.bd-example .carousel {
    width: 100%;
    padding: 0;
    margin: 0;
}

.carousel .carousel-indicators {
    position: fixed;
    top: 35%;
    margin-left: 17px;
    display: block;
    width: fit-content;
}

.carousel-indicators li {
    width: 3px;
    height: 45px;
    margin-bottom: 8px;
    background: #ddd;
}
.carousel-indicators li.last {
    margin-bottom: 0px;
}

.carousel-indicators li.active {
    background: linear-gradient(115.29deg, #9A6BF2 22.36%, #E173E9 90.45%);
}

.carousel-item .logo {
    width: 45px;
    margin: 0;
    margin-top: 15px;
    margin-left: 30px;
}

.carousel-item .content-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content-div .text {
    padding: 20px;
    padding-left: 60px;
    padding-right: 40px;
    margin-bottom: 15px;
    z-index: 2;
}

.content-div .text.fourth {
    padding-top: 0px;
}

.text .coming-this-text {
    width: fit-content;
    padding: 3px 10px;
    padding-bottom: 4px;
    color: #fff;
    font-size: 0.85em;
    letter-spacing: 0.03em;
    background: linear-gradient(115.29deg, #9A6BF2 22.36%, #E173E9 90.45%);
    border-radius: 20px;
    margin-top: 70px;
}
.content-div .text.fourth .coming-this-text {
    margin-top: 50px;
}

.text h1 {
    margin-top: 50px;
    font-size: 2.5em;
    text-transform: capitalize;
    line-height: 1.4em;
}

.content-div .text.fourth h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.text .details {
    font-size: 1.1em;
    line-height: 1.9em;
}

.text .details .list {
    display: flex;
    margin-bottom: 10px;
}

.text .details .list img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    margin-top: 8px;
}

.text .details .list p {
    margin: 0;
}

.text form {
    margin-top: 20px;
}

.text form .custom-control {
    margin-bottom: 10px;
}

.text form .custom-radio input[type="radio"]:checked + label::before {
    background: #9A6BF2;
    box-shadow: none;
}

.text form .custom-radio label:hover{
    color: #9A6BF2;
    cursor: pointer;
}

.text form .input-group {
    background: #fff;
    padding: 7px 10px;
    border-radius: 5px;
    width: 80%;
    box-shadow: 0px 2px 7px rgba(79, 79, 79, 0.07);
}

.input-group input {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    padding: 10px;
    padding-bottom: 11px;
    border-radius: 5px 0px 0px 5px;
}

.input-group .notify-btn {
    font-family: 'Lato', sans-serif;
    color: #fff;
    padding: 10px 15px;
    border-radius: 0px 5px 5px 0px;
    border: none;
    background: linear-gradient(115.29deg, #9A6BF2 22.36%, #E173E9 90.45%);
    cursor: pointer;
}
.input-group .notify-btn:hover {
    background: linear-gradient(115.29deg, #E173E9 22.36%, #9A6BF2 90.45%);
}



.content-div .preview-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 450px;
    z-index: 1;
}


.carousel .controls {
    position: fixed;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.carousel .controls a  {
    background: #fff;
    color: #9A6BF2;
    margin-right: 50px;
    font-size: 1.3em;
    border-radius: 100%;
}
.carousel .controls a.last  {
    margin-right: 0px;
}

.carousel .controls a:hover {
    text-decoration: none;
}
.carousel .controls a:focus {
    background: #fff !important;
}

.controls a.carousel-up-arrow {
    padding: 9px;
    padding-left: 11px;
    padding-right: 7px;  
}
.controls a.carousel-down-arrow {
    padding: 9px;
    padding-left: 11px;
    padding-right: 11px;  
}

.carousel .controls a i {
    font-size: 1.1em;
    color: #9A6BF2;
}


.main .copyright {
    position: relative;
    color: #555;
    font-size: 0.9em;
    margin: 0;
}



/*Responsive Page Starts Here*/

@media screen and (min-width: 1800px){
    
}

@media screen and (max-width: 1150px){
    .content-div .preview-img {
        height: 380px;
    }
}

@media screen and (max-width: 1000px){
    .carousel-item .content-div {
        display: grid;
        grid-template-columns: 1fr;
    }

    .content-div .text.fourth {
        padding-top: 20px;
    }

    .content-div .text.fourth .coming-this-text {
        margin-top: 70px;
    }

    .content-div .text.fourth h1 {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .content-div .preview-img {
        width: 100%;
        height: 100%;
        opacity: .5;
    }
}

@media screen and (max-width: 836px){
    .content-div .preview-img {
        width: 100%;
        height: 400px;
    }
}

@media screen and (max-width: 668px){
    .content-div .preview-img {
        width: 100%;
        height: 300px;
    }
}

@media screen and (max-width: 500px){
    .carousel .carousel-indicators {
        margin-left: 3px;
    }

    .content-div .text {
        padding: 30px;
        padding-left: 25px;
        padding-right: 15px;
    }

    .text h1 {
        font-size: 2em;
    }
}

@media screen and (max-width: 450px){
    .text form .input-group {
        width: 100%;
    }

    .content-div .preview-img {
        width: 100%;
        height: 250px;
    }
}

@media screen and (max-width: 380px){
    .text h1 {
        font-size: 1.7em;
    }

    .text .details {
        font-size: 1em;
        line-height: 1.8em;
    }

    .content-div .preview-img {
        width: 100%;
        height: 200px;
    }
}